{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <h2>{{ task.title}}</h2>
    <p> {{ task.description}}</p>
    <p><strong>[STATUS]:</strong> <span class="badge text-bg-primary">{{ task.status }}</span></p>
    <p><strong>[PRIORITY]:</strong> <span class="badge text-bg-secondary">{{ task.priority }}</span></p>
    <a href="{% url 'task-update' task.pk %}" class="btn btn-warning">Update</a>
    <a href="{% url 'task-delete' task.pk %}" class="btn btn-danger">Delete</a>
</div>

{% include 'tasks/comments_container.html'%}

{% endblock %}