{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <h2>List of Tasks</h2>
    <a href="{% url 'task-create'%}" class="btn btn-primary mb-3">Create Task</a>
    <ul class="list-group">
        {% for task in tasks %}
        <li class="list-group-item">
            <a href="{% url 'task-detail' task.pk %}">{{ task.title}}</a>
            <span class="badge text-bg-primary">{{ task.status }}</span>
            <span class="badge text-bg-secondary">{{ task.priority }}</span>
        </li>
        {% empty %}
        <li class="list-group-item">No tasks</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}